.block {
    padding: 20px 0;
}

p {
    padding: 10px 0;
    font-size: 18px !important;
}



.description {
    white-space: wrap;
}

a {
    text-decoration: none;
}

.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}



.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    background-color: #fff;
    max-width: 300px;
    /* border: 1px solid #45a049; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.377);
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid #45a049;
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    color: #45a049;
    box-shadow: 0px 0px 0px 1px #45a049 inset;
    transition: background 0.4s ease;
    border-radius: 10px;
}

.button:hover {
    background: #45a049;
    color: #fff;
}


.list-reasons{
    margin: 0 0 0 25px;
    list-style-type:square;
}
.list-reasons li{
    margin-top: 10px;
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .card {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    .user-follow-info {
        margin-top: 6px;
    }
    
    .card {
        flex-basis: calc(40% - 16px);
    }
}

@media (min-width: 1024px) {
   
    .card {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 18px);
    }
}
