
 #wordInput , input{
    margin-bottom: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding:  0 10px;
  }
  #wordInput , input{
  height: 30px;
  border-radius: 5px;
}
.content ul{
    margin: 30px 0 0 25px;
    list-style-type:decimal;
    font-size: 18px;
}
ul li{
    margin-top: 5px;
}
  label {
    display: block;
    margin-bottom: 10px;
  }

  #wordInput {
    margin-bottom: 10px;
  }

  #wordList {
    margin-bottom: 20px;
  }

  #wordList li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .translationInput {
    margin-left: 10px;
  }