ul{
    margin: 0 0 0 25px;
    list-style-type:square;
}
ol{
    margin: 0 0 0 25px;

}
p{
    padding: 10px 0;
}
.HARD-SOUND{
    background: #45a049;
    color: white;
    border-radius: 15px;
    padding: 40px;
    margin: 25px;
}

table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    font-size: 18px;
}

th, td {
    
    border: 1px solid #45a049;
    padding: 13px;
}

thead {
    background-color: #d0ffd3;
    font-size: 19px;

}

th {
    font-weight: bold;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

#link4 {
    color: #ff0000;
}