:root {
    --black: #342A2A;
    --dark-purple: #5544FF;
    --grey: #F8F8F8;
    --lavandel: #9287FF;
    --lightBlue: #BDE7FF;
    --lightPink: #F7ADFF;
    --ligthYellow: #FEFBC6;
    --white: #F8F8F8;
}


/* html{
    overflow-x: hidden;
    width: 100vw;
} */
* {
    padding: 0px;
    margin: 0px;
}

.box {
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0px;
}

.common-title {
    color: #000;
    text-align: center;
    font-family: Multiround Pro;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.common-title span {
    color: var(--dark-purple);
}

.p {
    color: #000;
    /* text-align: center; */
    font-size: 17px;
    line-height: 120%;
}

.main-title {
    color: var(--black);
    font-family: Multiround Pro;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-title span {
    color: var(--dark-purple);
}

.main-p {
    color: #000;
    font-size: 19px;
    line-height: 120%;
}

.h6 {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 120%;
    /* 20.4px */
    font-weight: bold;
}

.name {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.subscribeBtn {
    display: flex;
    width: max-content;
    padding: 5px 31px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--dark-purple);
    color: var(--white);
}

.subscribeBtn:hover {
    
    background:rgb(142, 132, 255);
    scale: 1.05;
}

#btnSubscribe a{
    color: var(--white);
}





@font-face {
    font-family: "robotoConsewrned";
    src: url('font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: "robotoConsewrnedLight";
    src: url('font/Roboto_Condensed/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('font/Roboto_Condensed/RobotoCondensed-Light.ttf');
}

body {
    font-family: "robotoConsewrnedLight";

}



.headerNavigationBlock {
    height: 65px;
    align-items: center;
}

.headerNavigationBlock .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 0px;

}

.navBtns {
    display: flex;
    gap: 35px;
}

.navigation-btn {
    width: max-content;
}

.navigation-btn a {
    color: var(--black);
    font-family: 'roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

.navigation-btn a:hover {
    color: var(--dark-purple);
}

.accentP {
    color: #000;
    font-family: 'robotoConsewrned';
    font-size: 18px;
    line-height: 120%;
    width: max-content;
}

.header-contact {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.phoneNumber {
    min-width: max-content;
}


#headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;

}

.header {
    background-image: url('img/bgHeader.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 137px;

}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.header-classes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
}

.variantsOfClasses {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.class {
    display: flex;
    width: 200px;
    padding: 60px 15px 15px 15px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(1, 0, 8, 0.60) 0%, rgba(11, 0, 118, 0.30) 59.38%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.class img:hover {
    scale: 1.1;
}


.class:nth-child(1) {
    background: linear-gradient(0deg, rgba(1, 0, 8, 0.60) 0%, rgba(11, 0, 118, 0.30) 59.38%, rgba(0, 0, 0, 0.00) 100%), url('img/class-1.png'), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.class:nth-child(2) {
    background: linear-gradient(0deg, rgba(1, 0, 8, 0.60) 0%, rgba(11, 0, 118, 0.30) 59.38%, rgba(0, 0, 0, 0.00) 100%), url('img/class-2.png'), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.class:nth-child(3) {
    background: linear-gradient(0deg, rgba(1, 0, 8, 0.60) 0%, rgba(11, 0, 118, 0.30) 59.38%, rgba(0, 0, 0, 0.00) 100%), url('img/class-3.png'), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.class:nth-child(4) {
    background: linear-gradient(0deg, rgba(1, 0, 8, 0.60) 0%, rgba(11, 0, 118, 0.30) 59.38%, rgba(0, 0, 0, 0.00) 100%), url('img/class-4.png'), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-title {
    color: #FFF;
    font-family: Multiround Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.textClass {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.icons img {
    width: 45px;
    height: 45px;
}

.wa,
.phone,
.tg {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: var(--dark-purple);
}

.wa:hover,
.phone:hover,
.tg:hover {
    scale: 1.05;
}

.icons {
    display: flex;
    align-items: flex-start;
    gap: 21px;
}



#headerContent .subscribeBtn {
    padding: 10px 40px;
}



#reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 73px;
    align-self: stretch;
}

.reasons-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
    text-align: center;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.reasons-text .p {
    text-align: center;
}

.reasons-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}

.reasons-item {
    display: flex;
    width: 242px;
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--black);
    text-align: center;
    border-radius: 25px;
    background: var(--grey, #F8F8F8);
}

.reasons-item h1,
.reasons-item .p {
    color: var(--black);
    text-align: center;

}

.reasons-item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* block about */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 103px;
    align-self: stretch;
    flex-wrap: wrap;
}

#about img {
    width: 370px;
    height: 322px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    min-width: 300px;
    max-width: 600px;
}

.about-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.about-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}

.about-item,
.p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.about-item .common-title {
    color: var(--dark-purple);
}


/* block classes */

#classes-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 66px;
    align-self: stretch;
}

.classes-main-text,
.classes-main-text .p,
.classes-main-text .common-title h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    text-align: center;
}

.classes-main-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}

.classes-main-item {
    display: flex;
    width: 276px;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid --grey;
    background: var(--white);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}

.classes-main-item img {
    width: 90px;
    height: 90px;
}

.classes-main-item-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    text-align: left;

}


.classes-main-item .small-title {
    color: var(--black);
}


.classes-main-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.hard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

.points {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    flex: 1 0 0;
}

.points img {
    height: 15px;
    width: 15px;
}

#instructors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 82px;
    align-self: stretch;
}

.instructors-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.instructors-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 29px 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.instructor {
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.instructor img {
    width: 200px;
    height: 200px;
}

.instructor-item-text {
    display: flex;
    width: 241px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.instructor-item-descriptin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.instructor-item-descriptin-item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.instructor-item-text .p {
    align-self: stretch;
}


#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.gallery {
    background-image: url('img/galleryBg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gallery-photos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 20px;
    align-self: stretch;
    max-width: 1162px;
    margin: auto;
    flex-wrap: wrap;
}


.gallery-big-photo {
    width: 320px;
    height: 170px;
}

.gallery-small-photo {
    width: 150px;
    height: 170px;
}


#timetable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.timetable-text,
#timetable .common-title h1,
#timetable p {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.timetable-items {
    display: flex;
    /* height: 933px; */
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid #54F;
}

.timetable-item {
    display: flex;
    padding: 40px 15px;
    align-items: center;
    align-content: center;
    gap: 80px;
    align-self: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid #54F;

}

.timetable-item-day {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: var(--white);
    /* background-image: url('');
    background-size: 100% 100%;
    background-position: center center; */
}

.timetable-item-day svg {
    position: absolute;
    z-index: -1;
}

.timeText {
    font-weight: 600;
    font-family: 'roboto';
    font-size: 17px;
    letter-spacing: px;
    line-height: 120%;
    font-family: Multiround Pro;
}

.timetable-item-classes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    row-gap: 40px;
    flex: 1 0 0;
    flex-wrap: wrap;

}


.timetable-item-classes-class {
    display: flex;
    padding: 0px 30px;
    width: max-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.timetable-item-classes-class-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.timetable-item-classes-class-instructor,
.timetable-item-classes-class-instructor p {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 13px;
}

#price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

#price .p {
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    gap: 19.894px;
    align-self: stretch;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 13.263px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    width: 180px;
    align-self: center;
}

#price .card p,
.card .h6 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    text-align: left;
}

.cardContent {
    width: 100%;
}

.priceDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.small {
    font-family: 'roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.priceAmont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9.284px;
    align-self: stretch;
}

.priceAmont hr {
    width: 100%;
    height: 0.5px;
    border: 0.01px solid rgba(0, 0, 0, 0.436);
}

.about-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#price .about-price .p {
    text-align: left;
}

.about-price svg {
    width: 25px;
    height: 80px;
    flex-shrink: 0;
    align-self: stretch;
}

.textPrice {
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#purple {
    color: white;
    border-radius: 9.947px;
    border: 1px solid #F4F4F4;
    background: var(--dark-purple, #54F);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}

#purple p,
#purple .h6,
#purple hr {
    color: white;
    border-color: #ffffffb5;
}

#white {
    border-radius: 9.947px;
    border: 1px solid #F4F4F4;
    background: var(--grey, #F8F8F8);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}

#lavandel {
    border-radius: 9.947px;
    border-color: #ffffffb5;
    background: var(--lavandel, #9287FF);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}

#lavandel p,
#lavandel .h6,
#lavandel hr {
    color: white;
    border-color: #FFF;
}

#lightGreen {
    border-radius: 9.947px;
    border-color: #F4F4F4;
    background: var(--mint, #F1FFE4);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}

#pink {
    border-radius: 9.947px;
    border: 1px solid #F4F4F4;
    background: var(--light-pink, #F7ADFF);
    box-shadow: 0px 5px 10px 0px rgba(81, 81, 81, 0.10);
}




#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 46px;
    align-self: stretch;
    flex-wrap: wrap;
}

.subscribeInfo {
    display: flex;
    padding: 35px 25px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #54F;
    background: var(--white, #F8F8F8);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    max-width: 300px;
    min-width: 200px;

}

.subscribeAreaBlock {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 25px;
    background: var(--white, #F8F8F8);
}

.contactBlock {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38.3px;
}


#subscribe .nameaArea,
#subscribe .phoneArea,
#subscribe .nameAction,
#subscribe.commentArea,
.emailAr#subscribeea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;

}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    border-bottom: 1px solid #342A2A;
    width: 100%;

}

input,
select {
    border: none;
    width: 100%;
    background: var(--white, #F8F8F8);
}

input:active,
input:hover,
input:focus,
select:active {
    outline: 0;
    outline-offset: 0;
    border: none;
    width: 100%;
    background: var(--white, #F8F8F8);
}

.dadaTime {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    width: 100%;
}

.time {
    width: 100%;
}

.subscribeBlock,
.contactBlock {
    width: 100%;
}

select {
    color: rgb(0, 0, 0);
}


/* map block */

.map {
    background-image: url(img/map.png);
    width: 100vw;
}

.info {
    display: flex;
    padding: 40px 30px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 70%;
    max-width: 300px;
    border-radius: 25px;
    background: #FFF;
}

.info .subscribeBtn {
    width: max-content;
    margin: auto;
}

.info p {
    text-align: left;
}



/* 
.questions {
    width: 100vw;
    background: #54F;
    width: 100%;
    color: white;
}

#questions-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    max-width: 1000px;


}

.questions-forms {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;

}

.first-colums,
.second-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    flex: 1 0 0;
    min-width: 350px;
    max-width: 500px;
}

.second-column {
    gap: 25px;
    flex: 1 0 0;
}

.contactQuestionForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38.3px;
    align-self: stretch;
    width: 100%;
    margin: auto;
}



.lawArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.radio-group,
.phone-rbtn,
.gmail-rbtn {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 30px;
}

.phone-rbtn,
.gmail-rbtn {
    gap: 10px;
}

.radio-group label {
    min-width: max-content;
}


.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio-group input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--white);
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}

.radio-group input[type="radio"]:checked+label::before {
    background-color: var(--white);
}




.lawArea .subscribeBtn {
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.907px;
    border-radius: 25px;
    background: var(--white);
    box-shadow: 0px 3.5627706050872803px 44.53463363647461px 0px rgba(173, 165, 255, 0.05);
    color: #000;
    /* width: max-content; */
/* } */
/* 
#questions-block .lawArea .subscribeBtn p {
    color: #000;
}

.questionBlok p,
.questionBlok h1 {
    text-align: left;
}

#h6 {
    color: var(--white, #F8F8F8);
    font-family: Multiround Pro;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

#questions-block input {
    background-color: #54F;
    padding: 10px;
    color: white;
    width: 100%;
}

#questions-block input::placeholder {
    /* modern browser s
    color: rgb(255, 255, 255);
}

#questions-block .input,
#questions-block p,
#questions-block .common-title {
    border-color: #FFF;
    color: #ffffff;
}

.questionBlok .input {
    padding: 5px 0px;
}*/



.questions {
    width: 100vw;
    background-color: var(--dark-purple);
}

#questions-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    justify-content: center;
}


.questions-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.questions-forms {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}

.first-colums {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;

}

.paragraph .p {
    align-self: stretch;
}

.question-contact-form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38.3px;
    width: 100%;
}

.name-input,
.Email-input,
.phone-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.comment-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;

}

.input {
    width: 100%;
    border-bottom: 1px solid var(--white);
    padding: 0px 5px;

}

#questions-block input {
    padding: 5px 0px;
    background-color: var(--dark-purple);
    color: white;


}

#questions-block input::placeholder {
    color: var(--white);
    /* padding: 0px 5px; */
}


.radio-group,
.phone-rbtn,
.gmail-rbtn {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 30px;
}


.radio-group {

    flex-wrap: wrap;
}

.phone-rbtn,
.gmail-rbtn {
    gap: 10px;
}

.radio-group label {
    min-width: max-content;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

.phone-rbtn input[type="radio"],
.gmail-rbtn input[type="radio"] {

    opacity: 0;
}

.radio-group input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--white);
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}

.radio-group input[type="radio"]:checked+label::before {
    background-color: var(--white);
}

.choice-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}


.second-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex: 1 0 0;
    max-width: 500px;
    min-width: 300px;
}

.work-time {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
#questions-block h1, #questions-block p, #questions-block label{
    color: var(--white);
}

#questions-block .subscribeBtn {
    display: flex;
    width: max-content;
    padding: 10px 41px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--white);
    color: var(--black);
}
#questions-block .subscribeBtn p{
    color: var(--black);
}
#questions-block .subscribeBtn:hover {
    background-color: #e2dfff;
    text-decoration: none;

}




.map {
    width: 100%;
}

.map-title {
    color: #001226;
    font-family: Multiround Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
    /* 30px */
}

.info h1 {
    display: flex;
    height: 66px;
    flex-direction: column;
    justify-content: center;
}

.indoMapText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.infoAbout {
    display: flex;
    align-items: flex-start;
    gap: 29px;
}

.footer {
    background-color: var(--white);
}

#footer {
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 99px;
    align-self: stretch;
    flex-wrap: wrap;
}

.footer-contact-info {
    display: flex;
    width: 147px;
    height: 139px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-contact-info-items {
    display: flex;
    height: 91px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.footer-pages {
    display: flex;
    width: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.footer-pages .navigation-btn {
    display: flex;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 5px;
}

.footer-pages .navigation-btn a {
    color: var(--black, #342A2A);
    font-family: 'roboto';
    font-size: 16px;
    text-decoration: underline;
}

.footer-best-sugestions {
    display: flex;
    width: 341.409px;
    height: 92px;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.footer-input {
    display: flex;
    border-radius: 18px;
    border: 0.731px solid var(--dark-purple);
    height: 33px;
    /* padding: 5px; */
}

.footer-input input {
    display: flex;
    margin: 5px 10px;
    outline: none;
    writing-mode: vertical-lr;
}

.footer-input button {
    border: none;
}

#footer .small-title {
    color: var(--black);
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 99px;
    align-self: stretch;
    flex-wrap: wrap;
}

.footer-docs {
    display: flex;
    width: 242px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}


#footer a {
    color: var(--black);
    text-decoration: underline;
}

#footer a:hover {
    color: var(--dark-purple);
}

/* Important styles */
#toggle,
#smalltoggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
    position: absolute;
    right: 30px;
}

#toggle span:after,
#toggle span:before,
#smalltoggle span:after,
#smalltoggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after,
#smalltoggle span:after {
    top: 9px;
}

#toggle span,
#smalltoggle span {
    position: relative;
    display: block;
}


#toggle span,
#toggle span:after,
#toggle span:before,
#smalltoggle span,
#smalltoggle span:after,
#smalltoggle span:before {
    width: 100%;
    height: 4px;
    background-color: var(--dark-purple);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;

}

/* on activation */
#toggle.on span,
#smalltoggle.on span {
    background-color: transparent;
}

#toggle.on span:before,
#smalltoggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after,
#smalltoggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on+#menu,
#smalltoggle.on+#smallmenu {
    opacity: 1;
    visibility: visible;
}

/* menu appearance*/
#menu,
#smallmenu {
    color: var(--dark-purple);
    width: 170px;
    padding: 30px 20px;
    position: absolute;
    top: 60px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    display: flex;
    flex-direction: column;
    right: 30px;
}

#menu,
#smallmenu {
    list-style: none;
}

#smallmenu {
    gap: 15px;
}

#menu li a,
#smallmenu li a {

    color: #888;
    text-decoration: none;
    transition: all .0.5s;
}

#menu li a:hover,
#smallmenu li a:hover,
#menu li a:hover,
#smallmenu li a:focus {

    color: var(--dark-purple);
    text-decoration: underline;
}

#menu li #btn:hover,
#smallmenu li #btn:hover,
#menu li #btn:focus,
#smallmenu li #btn:focus {

    color: white;
    text-decoration: none;
}

#menu,
#toggle {
    display: none;
}

#smallmenu,
#smalltoggle {
    display: none;
}

 input{
        font-size: 14px;
    }

@media screen and (max-width: 1500px) {
    .box {
        width: 75%;
    }
    .navBtns{
        gap: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .gallery-big-photo {
        width: 300px;
        height: 143.604px;
    }

    .gallery-small-photo {
        width: 128.502px;
        height: 150px;
    }

    .header {
        gap: 50px;
    }

    #headerContent {
        gap: 70px;
    }

    .reasons-items,
    .classes-main-items,
    .instructors-items,
    .gallery-photos,
    .cards,
    #subscribe {
        gap: 20px;
    }

    .box {
        width: 80%;
    }

    .header-contact {
        display: none;
    }

    #smallmenu,
    #smalltoggle {
        display: flex;
    }

    .navBtns {
        gap: 25px;
    }
   
}

@media screen and (max-width: 900px) {

    #smallmenu,
    #smalltoggle {
        display: none;
    }

    #menu,
    #toggle {
        display: flex;
    }

    .navBtns {
        display: none;
    }

    .box {
        width: 80%;
    }

    #about img {
        width: 300px;
        height: 300px;
    }

    .about-content {
        gap: 30px;
    }

    .about-items {
        gap: 25px;
    }

    .header {
        gap: 0px;
    }

    #headerContent {
        gap: 30px;
    }

    .gallery-big-photo {
        width: 220px;
        height: 110px;
    }

    .gallery-small-photo {
        width: 100px;
        height: 120px;
    }

    .common-title {
        font-size: 25px;
    }

    .p {
        font-size: 15px;
        line-height: 120%;
    }

    .main-title {
        font-size: 40px;
    }

    .main-p {
        font-size: 15px;
    }

    .h6 {
        font-size: 15px;
    }

    .name {
        font-size: 18px;
    }

    #about,
    #instructors,
    #gallery,
    #price, .timetable-item {
        gap: 60px;
    }

    .classes-main-item {
        width: max-content;
        padding: 15px 20px;
        justify-content: center;

    }

    #classes-main ul {
        width: 70%;
        margin-left: 30px;
    }

    .classes-main-item-description,
    .instructor-item-text {
        gap: 10px;

    }

    .footer-pages {
        gap: 0px;
    }

    .classes-main-item-text,
    .second-row, .gallery-photos, 
    #footer {
        gap: 15px;
    }
 
}

@media screen and (max-width: 500px) {
    .box {
        width: 80%;
    }
    .timetable-item{
        justify-content: center;
    }
    .timetable-item-classes{
        justify-content: center;
    }
    .radio-group {
        gap: 15px;
        max-width: 200px;
    }
    .gallery-photos{
        gap: 10px;
    }
    .dadaTime {
        flex-direction: column;
    }

    .reasons-items,
    .classes-main-items,
    .instructors-items,
    .cards,
    #about,
    #instructors,
    #gallery,
    #price, .timetable-item {
        gap: 40px;
    }

     .first-colums,
    .second-column {
        min-width: 200px;
    } 
}