* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'poppins';
  src: url('fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('fonts/Roboto-Regular.ttf');
}

.box {
  /*  max-width: 1200px; */
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 0px;
}

body {
  font-family: 'poppins';
}

.header .box {
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header {
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.logo img {
  vertical-align: bottom;
}

.navBtns {
  list-style: none;
  display: flex;
  gap: 35px;
  /*     
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    align-items: center; */
}

.navBtns li a {
  color: #222;
  font-size: 13px;
  line-height: 19.6px;
  /* 150.769% */
  text-decoration: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: 120px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  background: #575445;
  text-align: center;
  padding: 5px 5px;
  gap: 15px;
}

/* .cart{
    width: 30px;
} */
.small-title {
  color: #e6b939;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-title {
  color: #fff;
  font-family: 'roboto';
  font-size: 48px;
  line-height: 57.6px;
  /* 120% */
}

.title-p {
  color: #caccd1;
  font-size: 17px;
  line-height: 25.2px;
  /* 148.235% */
}

.header-container {
  display: block;
  background-image: url('images/IMAGE.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border: 1px solid transparent;
}

.header-content {
  margin-top: 50px;
  max-width: 550px;
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  /* padding: 50px 0px; */
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-content .button {
  border-radius: 6px;
  background: #e6b939;
  padding: 8px 0;
}

.common-title {
  color: #575445;
  font-family: Roboto;
  font-size: 36px;
  line-height: 43.2px;
  /* 120% */
}

.p {
  color: #575445;
  font-size: 16px;
  line-height: 19.2px;
  /* 120% */
}

.who .box {
  /* padding: 100px 0px; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 2%;
  row-gap: 2%;
}

.who .box .options-product-text {
  text-align: left;

  max-width: 100%;
  width: 100%;
  margin: 0;
  align-self: center;
}

.who .box .options-product-text {
  gap: 15px;
}

.who .box img {
  width: 100%;
  max-width: 500px;
}

.who {
  background-image: url('images/Group\ 1\ \(7\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  height: max-content;
}

.who .button {
  background-color: #e6b939;
}

.options-product-text {
  text-align: center;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.options-products-item-title {
  color: #575445;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.options-products-item-p {
  color: #575445;
  text-align: center;
  font-size: 14px;
  line-height: 19.6px;
  /* 140% */
}

.options-products-items {
  /* display: grid;
    grid-template-columns: repeat(3, 35%);
    align-items: center;
    justify-content: center; */
  display: flex;
  /*  align-items: flex-start;
    align-content: flex-start; */
  /* gap: 16px 15px; */
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.options-products-image {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100%;
  margin: auto;
  background-color: #76725c;
}

.options-products-image img,
.options-products-image svg {
  width: 70%;
  height: 70%;
}

.options-products .box {
  display: flex;
  width: 1200px;
  flex-direction: column;
  gap: 20px;
}

.options-products-item {
  display: flex;
  padding: 30px 49.656px 30px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 25%;
  min-width: 200px;
}

.options-products {
  background-image: url('images/Frame\ \(1\).png');
}

.link a {
  text-decoration: none;
  color: #222;
}

.link a:hover {
  color: #575445;
  text-decoration: underline;
  transition: 0.5s;
}

.our-promise-item {
  display: inline-flex;
  padding: 40px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  background-image: url('images/time.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 15px;
  width: 270px;
  height: 350px;
  text-align: center;
}

.our-promise .box {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.our-promise-items {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 16px 15px;
  flex-wrap: wrap;
  margin: auto;
}

.our-promise-item:nth-child(2) {
  background-image: url('images//IMAGE\ \(17\).png');
}

.our-promise-item:nth-child(3) {
  background-image: url('images/IMAGE\ \(18\).png');
}

.our-promise-item:nth-child(4) {
  background-image: url('images/IMAGE\ \(19\).png');
}

.our-promise-item:nth-child(5) {
  background-image: url('images/snicker.png');
}

.our-promise-item:nth-child(6) {
  background-image: url('images/personAway.png');
}

.contacts {
  background-image: url('images/ocean.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  height: 500px;
  padding: 50px 0px;
  flex-direction: column;

  gap: 10px;
}

.contacts .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.contacts-link {
  border-radius: 25px;
  background: #292c32;
  color: white;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.cart-area,
.photos-area,
.person-area,
.location-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.shop {
  background-color: #375c58;
  background-image: url('images/Full-Pattern-1-White.png');
  display: flex;
  height: 350px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shop .box {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.shop .small-title,
.shop .p {
  color: white;
}

.shop .common-title {
  color: #e6b939;
}

.shop .button {
  color: black;
  background-color: #fff;
  margin: auto;
}

.navigation .box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navigation h1 {
  text-align: left;
}

.nav-offering-item {
  width: 90%;
  max-width: 430px;
}

.main-block-photo {
  width: 100%;
}

.nav-offering-item h1 {
  color: #575445;
  font-size: 20px;
  line-height: 24px;
  /* 120% */
}

.person-text-info {
  display: flex;
  padding: 5px 0px;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 0 0;
  align-self: stretch;
}

.person-text-info .person-name {
  color: #575445;
  font-size: 13px;
  line-height: 18.2px;
}

.person-text-info .person-status {
  color: #e6b939;
  font-size: 11px;
  line-height: 15.4px;
}

.person-offer-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.person-info {
  display: flex;
  min-width: max-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.date {
  color: #6f7278;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.2px;
  /* 140% */
}

.navigation-offering-items {
  /* display: grid;
    grid-template-columns: repeat(2, 500px);
   
     */
  display: flex;
  column-gap: 32px;
  row-gap: 50px;
  /*  align-items: flex-start;
     align-content: flex-start; */
  /* gap: 16px 15px; */



  flex-wrap: wrap;
}

.nav-offering-item {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.navigation .link {
  margin: 5% auto;
  text-align: center;
}

.navigation .p {
  color: #222;
}

.subscribe .box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  align-items: center;
}

.subscribe .box img {
  width: 100%;
  max-width: 600px;
}

.subscribe {
  background-color: #fbfbfb;

  background-image: url('images/Group\ 1\ \(7\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.subscribe .options-product-text {
  background-color: transparent;
  text-align: left;
  gap: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.footer-links {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
}

.footer {
  background-color: #575445;
}

.footer .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-links a {
  color: #fff;
  font-size: 14px;
}

.footer .logo {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.footer-links a:hover,
.footer-rights a:hover {
  color: #c2c2c2;
  transition: 0.3s;
}

.social-media {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.social-media a svg {
  height: 25px;
  width: 25px;
}

.social-media a {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.social-media a:hover {
  background-color: #76725c;
  transition: 0.5s;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 64px;
}

.footer .p {
  color: white;
  width: 100%;
  text-align: left;
}

.footer-Newsletter, .footer-Newsletter .p {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: end;
  text-align: right;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.footer-rights a {
  color: #fff;
}


.footer .input {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
  width: max-content;
  padding: 3px 3px 3px 15px;
}

.footer input {
  border: none;
  outline: none;
}

.footer button {
  border: none;
}



/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  position: absolute;
  right: 30px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  color: #999;
  width: 200px;
  padding: 10px;
  position: absolute;
  top: 60px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  display: flex;
  flex-direction: column;
  right: 30px;
}
/* #menu:after {
  position: absolute;
  top: 35px;
  /* left: 95px; 
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
} */

li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #6f7278;
  color: #fff;
}


 #menu, #toggle{
  display: none;
 }

@media screen and (max-width: 900px) {
  .subscribe .box {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .who .box {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

  }

  .navigation-offering-items {

    display: flex;
    column-gap: 32px;
    row-gap: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

}


@media screen and (max-width: 950px) {
 
  .navBtns{
    display: none;
   
  }
   #menu, #toggle{
      display: flex;
     }
     .header .box{
      gap: 20px;
     }
     .cart{
      position: absolute;
      left: calc(100% - 100px - 150px);
     }
}

@media screen and (max-width: 650px) {
     .cart{
      position: absolute;
      left: calc(100% - 50px - 150px);
     }
}
